In [78]:
import pandas as pd
import numpy as np
import sklearn
import os
import glob
import re

In [105]:
df = pd.DataFrame()
for file_name in glob.glob("data/*.csv"):
    x = pd.read_csv(file_name, low_memory=False)
    x["Stock"] = os.path.basename(file_name)[:-4]
    print(os.path.basename(file_name))
    df = pd.concat([all_data,x],axis=0)

AAPL.csv
ADBE.csv
MSFT.csv
ORCL.csv
SPY.csv

In [104]:
df.shape

(61540, 14)

In [99]:
df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Day"] = df["Date"].dt.day
df["Weekday"] = df["Date"].dt.weekday
df["Change"] = df["Close"] - df["Open"]
df["% Change"] = 100 * df["Change"] / df["Open"]

In [100]:
df.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
Stock        0
Year         0
Month        0
Day          0
Weekday      0
Change       0
% Change     0
dtype: int64

In [102]:
df.shape

(61540, 14)

In [103]:
df.groupby(by = ["Stock"]).count()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day,Weekday,Change,% Change
Stock,,,,,,,,,,,,,
AAPL,500,500,500,500,500,500,500,500,500,500,500,500,500
ADBE,18638,18638,18638,18638,18638,18638,18638,18638,18638,18638,18638,18638,18638
MSFT,18850,18850,18850,18850,18850,18850,18850,18850,18850,18850,18850,18850,18850
ORCL,500,500,500,500,500,500,500,500,500,500,500,500,500
SPY,23052,23052,23052,23052,23052,23052,23052,23052,23052,23052,23052,23052,23052