In [3]:
import pandas as pd
import numpy as np
import sklearn
import os
import glob
import re

In [115]:
df = pd.DataFrame()
for file_name in glob.glob("data/*.csv"):
    stock_name = os.path.basename(file_name)[:-4]
    x = pd.read_csv(file_name, low_memory=False)
    x = x.set_index("Date")
    x["Day % Change"] = 100 * (x["Close"] - x["Open"]) / x["Open"]
    open_perc_changes = [np.nan]
    for i in range(1, len(x)):
        day_open = x.iloc[i]["Open"]
        prev_day_close = x.iloc[i - 1]["Close"]
        open_perc_changes.append(100 * (day_open - prev_day_close) / prev_day_close)
    x["Open % Change"] = open_perc_changes
    x = x.drop("Adj Close", axis = 1)
    for name, values in x.iteritems():
        x.rename(columns = {name : stock_name + " " + name}, inplace = True)
    if len(df) > 0:
        df = df.merge(x, left_index = True, right_index = True)
    else:
        df = x

In [118]:
df.head()

,AAPL Open,AAPL High,AAPL Low,AAPL Close,AAPL Volume,AAPL Day % Change,AAPL Open % Change,ADBE Open,ADBE High,ADBE Low,...,ORCL Volume,ORCL Day % Change,ORCL Open % Change,SPY Open,SPY High,SPY Low,SPY Close,SPY Volume,SPY Day % Change,SPY Open % Change
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-29,0.537946,0.546875,0.526786,0.531250,266100800,-1.244735,0.626265,2.640625,2.640625,2.562500,...,68278950,-0.763379,0.000000,43.96875,43.96875,43.75000,43.93750,1003200,-0.071073,NaN
1993-02-01,0.529018,0.546875,0.529018,0.546875,240553600,3.375500,-0.420141,2.578125,2.750000,2.531250,...,54824850,3.448177,0.384688,43.96875,44.25000,43.96875,44.25000,480500,0.639659,0.071124
1993-02-02,0.542411,0.549107,0.537946,0.537946,182336000,-0.823177,-0.816274,2.750000,2.859375,2.734375,...,53860950,-1.487027,-0.370320,44.21875,44.37500,44.12500,44.34375,201300,0.282686,-0.070621
1993-02-03,0.544643,0.544643,0.522321,0.535714,264185600,-1.639423,1.244920,2.859375,2.859375,2.687500,...,77314500,0.375889,0.377430,44.40625,44.84375,44.37500,44.81250,529400,0.914849,0.140944
1993-02-04,0.535714,0.537946,0.526786,0.531250,208152000,-0.833280,0.000000,2.734375,2.781250,2.703125,...,64374750,-2.247128,0.000000,44.96875,45.09375,44.46875,45.00000,531500,0.069493,0.348675

In [120]:
df.columns

Index(['AAPL Open', 'AAPL High', 'AAPL Low', 'AAPL Close', 'AAPL Volume',
       'AAPL Day % Change', 'AAPL Open % Change', 'ADBE Open', 'ADBE High',
       'ADBE Low', 'ADBE Close', 'ADBE Volume', 'ADBE Day % Change',
       'ADBE Open % Change', 'MSFT Open', 'MSFT High', 'MSFT Low',
       'MSFT Close', 'MSFT Volume', 'MSFT Day % Change', 'MSFT Open % Change',
       'ORCL Open', 'ORCL High', 'ORCL Low', 'ORCL Close', 'ORCL Volume',
       'ORCL Day % Change', 'ORCL Open % Change', 'SPY Open', 'SPY High',
       'SPY Low', 'SPY Close', 'SPY Volume', 'SPY Day % Change',
       'SPY Open % Change'],
      dtype='object')